.heading {
  width: 100%;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url('../img/TAKE-A-TOUR/IMG-20220815-WA0030.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

.heading h1 {
  padding-left: 2rem;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}